# version 14.0.0: https://releases.llvm.org/14.0.0/tools/clang/docs/ClangFormatStyleOptions.html
# latest: https://clang.llvm.org/docs/ClangFormatStyleOptions.html

# generals
BreakBeforeBraces: Attach
ColumnLimit: 100
CommentPragmas: '^ NO-FORMAT:'
ContinuationIndentWidth: 2
IndentWidth: 2
ReflowComments: false
UseTab: Never

# language core
# AlwaysBreakAfterReturnType: All
AlwaysBreakTemplateDeclarations: true
BreakBeforeBinaryOperators: NonAssignment
BreakConstructorInitializers: BeforeColon
ConstructorInitializerIndentWidth: 2
FixNamespaceComments: true
NamespaceIndentation: All
PointerAlignment: Left

# short description
AllowShortCaseLabelsOnASingleLine: true
AllowShortEnumsOnASingleLine: true
AllowShortLoopsOnASingleLine: true
AllowShortBlocksOnASingleLine: Always # Never, Empty, Always
AllowShortFunctionsOnASingleLine: Empty # None, InlineOnly, Empty, Inline, All
AllowShortIfStatementsOnASingleLine: WithoutElse # Never, WithoutElse, Always
AllowShortLambdasOnASingleLine: All # None, Empty, Inline, All

IncludeCategories:
  # Headers in <> without extension.
  - Regex:    '<([A-Za-z0-9\/-_])+>'
    Priority: 1
  # Headers in <> from specific external libraries.
  - Regex:    '<(boost|catch2|gsl)\/([A-Za-z0-9.\/-_])+>'
    Priority: 2
  # Headers in <> with extension.
  - Regex:    '<([A-Za-z0-9.\/-_])+>'
    Priority: 3
  # Headers in "" with extension.
  - Regex:    '"([A-Za-z0-9.\/-_])+"'
    Priority: 4
